			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}

			#header {
				background: #ccc;
				height: 100px;
			}

			#header h1 {
				margin: 0;
				padding-top: 15px;
			}

			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}

			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}

			#footer {
				clear: left;
				width: 100%;
				background: #ccc;
				text-align: center;
				padding: 4px 0;
			}

			#wrapper {
				overflow: hidden;
			}

			#content {
				margin-left: 230px; /* Same as 'nav' width */
			}

            .headerLeft{
                width: 65%;
                display: inline-block;
            }

			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}


/*login*/
			.login{
			    margin-top: 15px;
                float: right;
                width: 35%;
                display: inline-block;
           	}

           	.form-group{
                margin-bottom: 0px;
                width: 30%;
                display: inline-block;
           	}

           	.control-label{
            	display: inline-block;
           	}

/**/

			p {
				color: #555;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}

			.btn-ok {
			    color: white;
			    background: blue;
			}
