			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}

			#header {
				background: #ccc;
				height: 100px;
				padding-top:10px;
			}

			#header h1 {
				margin: 0;
				padding-top: 15px;
			}

			main {
				/*padding-bottom: 10010px;
				margin-bottom: -10000px;*/
				float: left;
				width: 80%;
				display: inline-block;

			}

			#nav {
				padding-bottom: 800px;
				/*margin-bottom: -10000px;*/
				float: left;
				width: 20%;
				/*margin-left: -100%;*/
				background: #eee;
				display: inline-block;
			}

			#footer {
				clear: left;
				width: 100%;
				background: #ccc;
				text-align: center;
				padding: 4px 0;
			}

			#wrapper {
				/*overflow: hidden;*/
			}

			#content {
				margin-left: 50px; /* Same as 'nav' width */
			}

            #btn-logout{
                float:right;
                margin-right:10%;
            }

            #quantityDesired{
            width: 90px;
            }


            .headerLeft{
                width: 65%;
                display: inline-block;
            }

			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}
            .indexback{
            	background:#3398DA;
            	padding-bottom: 550px;
               padding-top: 50px;
            	margin-top:-20px;
            	margin-left:-65px;
            }

/*login*/
			.login{
			    margin-top: 15px;
                float: right;
                width: 35%;
                display: inline-block;
           	}

           	.form-group-login{
                margin-bottom: 0px;
                width: 30%;
                display: inline-block;
           	}

           	.control-label-login{
            	display: inline-block;
           	}

           	.addToCartForm{
                    position: fixed;
                    margin: auto;
                    bottom: 20%;
                    left: 30%;
                    overflow: auto;
                    right: 20%;
                    top: 20%;
                    width:15%;
                    height: 20%;
                    background: #ccc;
           	}

/**/

			p {
				color: #555;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}

			.btn-ok {
			    color: white;
			    background: blue;
			}
