@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@scripts = {
<script src="@routes.Assets.versioned("javascripts/allProducts.js")" type="text/javascript"></script>
}

@main("", scripts, message) {
<div ng-controller="allProducts" class="allProducts" ng-init="getAllProducts();getAllSellers()">
    <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
    <div class="allProductsInfos" ng-show="showAllProductsInfos">
        <label class="title">All Products</label>
        <form name="searchProductForm" ng-submit="searchProduct(sellerProduct, nameProduct)">
            <div class="form-group">
                <div>
                <select class="form-control" ng-model="sellerProduct" ng-options="user.name for user in allSellers | orderBy:'name' " id="sellerProduct">
                    <option value="">All sellers</option>
               </select>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="nameProduct" placeholder="Search a product by keyword">
            </div>
            <button class="btn btn-success">Search</button>
        </form>
        <table st-table="TableAllProducts" st-safe-src="allProducts" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    @if(message == "Admin"){
                        <th>Update</th>
                        <th>Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in allProducts">
                <td>{{product.nameProduct}}</td>
                <td>{{product.descriptionProduct}}</td>
                <td>{{product.priceSeller}}</td>
                <td>{{product.quantityStock}}</td>
                @if(message == "Admin"){
                    <td> <button type="button" ng-click="updateProduct(product)" class="btn">Update</button> </td>
                    <td> <button type="button" ng-click="confirmDelete(product)" class="btn">Delete</button> </td>
                }
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="updateProductForm" ng-show="showUpdateProductForm">
            <form name="updateForm" ng-submit="updateP(nameP, descriptionP, priceS, quantityS, idP)">
                <div class="form-group">
                    <label class="control-label">Name *</label>
                    <div>
                        <input type="text" id="nameP" class="form-control" ng-model="nameP" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <div>
                        <textarea maxlength="255" rows="3" id="descriptionP" class="form-control" ng-model="descriptionP" placeholder="Maximum 255 characters"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Price *</label>
                    <div>
                        <input type="number" id="priceP" step="0.01" class="form-control" ng-model="priceS" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity *</label>
                    <div>
                        <input type="number" id="quantityP" class="form-control" ng-model="quantityS" required>
                    </div>
                </div>
                <label class="control-label">(*) Compulsory</label>

                <div>
                    <input ng-hide="hideID" type="number" id="idP" class="form-control" ng-model="idP">
                </div>
                <button id="buttonUpdate" class="btn btn-success" ng-disabled="updateForm.$invalid">Update product</button>
                <button class="btn" ng-click="cancelUpdateForm()">Cancel</button>

            </form>
        </div>



</div>


}