@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/register.js")" type="text/javascript"></script>

        @scripts

    </head>

    <body>

    <header id="header">
        <div class="innertube">
            <div class= "headerLeft" >
                <h1><center>Sellbook</center></h1>
            </div>

            @if(request.cookies.get("id") == null){
                @login()
            }else{
                @logout()
            }

        </div>
    </header>

    <div id="wrapper">
        <nav id="nav">
            <div class="innertube">
                <h3>User</h3>
                <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./products">All Produit</a></li>
                </ul>
                <h3>Seller</h3>
                <ul>
                    <li><a href="./newProduct">Add Product</a></li>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
                <h3>Admin</h3>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div>
        </nav>

        <main>
            <div id="content">
                <div class="innertube">
                    <h1>@title</h1>

                     @* And here's where we render the `Html` object containing
                     * the page content. *@
                     @content

                </div>
            </div>
        </main>





    </div>

    <footer id="footer">
        <div class="innertube">
            <p>Footer...</p>
        </div>
    </footer>
    </body>
</html>
