@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


@(title: String, scripts: Html = Html(""),status: String ="None")(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="Sellbook">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>


        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
        @scripts


    </head>

    <body>

        <header id="header">
            <div class="innertube">
                <div class= "headerLeft" >
                    <h1><center>Sellbook</center></h1>
                </div>

            @if(status == "None"){
                @login()
            }else{
                @logout()
            }

            </div>
        </header>

        <div id="wrapper">
            <nav id="nav">
                <div class="innertube">

                    <!--POUR USER--!>

                    <ul>
                        <h3><li><a href="/">Home</a></li></h3>
                    @if(status != "None"){
                        <li><a href="/user/allProducts">All Products</a></li>
                    }
                    @if(status == "Admin"){
                        <li><a href="/allSU">All Simple users</a></li>
                        <li><a href="/allSellers">All Sellers</a></li>
                    }
                    @if(status == "SU"){
                        <h3>Simple User</h3>
                            <li><a href="/user/cart">Cart</a></li>
                            <li><a href="/user/order">Order</a></li>
                        <h3>My diaries</h3>
                            <li><a href="/myDiaries">All my diaries</a></li>
                            <li><a href="/newDiary">Create new diary</a></li>
                    }

                    </ul>

                    <!--POUR SELLER--!>
                    @if(status == "SC"){
                        <h3>Seller</h3>
                        <ul>
                            <li><a href="/newProduct">Add Product</a></li>
                            <li><a href="/seller/myProducts">My Products</a></li>
                            <li><a href="/seller/order">Handle Order</a></li>
                        </ul>
                    }

                    <!--POUR ADMIN--!>
                    @if(status == "Admin"){
                        <h3>Admin</h3>
                        <ul>
                            <li><a href="/newProductAdmin">Add Product</a></li>
                            <li><a href="/newSU">Add Simple User</a></li>
                            <li><a href="/newSeller">Add Seller</a></li>
                            <li><a href="/admin/order">Handle Order</a></li>
                        </ul>
                    }
                </div>
            </nav>
        </div>

        <main>

            <div id="content">
                <div class="innertube">
                        <center><h1>@title</h1></center>

                    @* And here's where we render the `Html` object containing
                    * the page content. *@
                    @content

                </div>
            </div>
        </main>

        <footer id="footer">
            <div class="innertube">
                <p>Sellbook© - All rights reserved</p>
            </div>
        </footer>

    </body>
</html>
