@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@scripts = {
<script src="@routes.Assets.versioned("javascripts/newProduct.js")" type="text/javascript"></script>
}

@main("Add Product", scripts, message) {

        <div id="newProductID" ng-controller="newProduct" class="newProduct">
            <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
            <form name="newProductForm" ng-submit="newProduct(nameProduct, descriptionProduct, priceSeller, quantityStock)">
                <div class="form-group">
                    <label class="control-label">Name *</label>
                    <div>
                        <input type="text" class="form-control" ng-model="nameProduct" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group"> <label class="control-label">Description</label>
                    <div>
                        <textarea maxlength="255" rows="3" id="descriptionProduct" class="form-control" ng-model="descriptionProduct" placeholder="Maximum 255 characters"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Price *</label>
                    <div>
                        <input type="number" step="0.01" class="form-control" ng-model="priceSeller" placeholder="Price" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity *</label>
                    <div>
                        <input type="number" class="form-control" ng-model="quantityStock" placeholder="Quantity" required>
                    </div>
                </div>
                <label class="control-label">(*) Compulsory</label></br>
                <button ng-disabled="newProductForm.$invalid" class="btn btn-success">Create product</button>
            </form>
        </div>



}