@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@scripts = { <script src="@routes.Assets.versioned("javascripts/newSellerAdmin.js")" type="text/javascript"></script> }

@main("Register Seller", scripts, message) {
    <div ng-controller="newSellerAdmin" class="newSellerAdmin">
        <div ng-hide="hideSuccessSU" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
        <div class="registerSellerForm">
            <form name="registerSellerForm" ng-submit="newSeller(name, siret, email, numberAddress, streetAddress, cityAddress, postCodeAddress, phoneNumber, descriptionSeller, password)">
                <label><b>Company Name *</b></label><br>
                <input class="form-control" type="text" ng-model="name" required>
                <div class="fieldWrapper">
                    <label for="siret"><b>SIRET Company</b></label><br>
                    <input class="form-control" pattern="[0-9]{14}" placeholder="14 numbers" type="text" ng-model="siret" name="siret" id="siret" onkeyup="checkSiret(); return false;">
                    <span id="confirmMessageSiret" class="confirmMessageSiret"></span>
                </div>
                <label><b>Email *</b></label><br>
                <input class="form-control" type="email" ng-model="email" required>
                <label><b>Number Address *</b></label><br>
                <input class="form-control" type="number" ng-model="numberAddress" required>
                <label><b>Street Address *</b></label><br>
                <input class="form-control" type="text" ng-model="streetAddress" required>
                <label><b>City Address *</b></label><br>
                <input class="form-control" type="text" ng-model="cityAddress" required>
                <label><b>PostCode Address *</b></label><br>
                <input class="form-control" type="number" ng-model="postCodeAddress" required>
                <label><b>Phone Number</b></label><br>
                <input class="form-control" type="text" ng-model="phoneNumber">
                <label><b>Description Company</b></label><br>
                <textarea maxlength="255" rows="3" id="descriptionSeller" class="form-control" ng-model="descriptionSeller" placeholder="Maximum 255 characters"></textarea>
               <div class="fieldWrapper">
                    <label for="password"><b>Password *</b></label><br>
                    <input class="form-control" pattern=".{6,}" type="password" ng-model="password" placeholder="At least 6 characters" name="password" id="password" required>
                </div>
                <div class="fieldWrapper">
                    <label for="confirmPassword"><b>Confirm Password *</b></label><br>
                    <input class="form-control" pattern=".{6,}" type="password" ng-model="confirmPassword" name="confirmPassword" id="confirmPassword" onkeyup="checkPassSC(); return false;" required>
                    <span id="confirmMessage" class="confirmMessage"></span>
                </div>
                </br>
                <label class="control-label">(*) Compulsory</label></br>
                <button class="btn" id="buttonRegister" ng-disabled="registerSellerForm.$invalid" >Submit</button>
            </form>
             <div ng-hide="hideErrorSU" class="alert alert-danger"> <strong>Error! </strong>{{titleError}} </div>
        </div>
    </div>

}
